@* @model IEnumerable<Category> *@

@model Cinema

@* @{
    var Categories = (List<Category>)ViewData["categories"];
} *@
<div class="row">
    <div class="col-12 mb-3">
        <h2><a href="/Cinema/Index"><i class="bi bi-arrow-left"></i></a> Create New Cinema</h2>
    </div>
</div>

<div class="row">
    <form action="/Cinema/Create" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleCinemaName" class="form-label">Cinema Name</label>
            <input type="text" class="form-control" id="exampleCinemaName" name="Name" value="@Model.Name">
            <span asp-validation-for="@Model.Name"></span>
        </div>
        <div class="mb-3">
            <label for="exampleCinemaDescription" class="form-label">Cinema Description</label>
            <input type="text" class="form-control" id="exampleCinemaDescription" name="Description" value="@Model.Description">
            <span asp-validation-for="@Model.Description"></span>
        </div>
    
        <div class="mb-3">
            <label for="exampleCinemaLogo" class="form-label">Cinema Logo</label>
            <input type="file" class="form-control" id="exampleCinemalogo" name="CinemaLogo" accept="image/*" onchange="previewImage(event)" value="@Model.CinemaLogo">
            <span asp-validation-for="@Model.CinemaLogo"></span>
        </div>
        <div class="mb-3">
            <!-- Image preview container -->
            <img id="imagePreview" src="~/temp/@Model.CinemaLogo" alt="Image Preview" style="display:none; width: 200px; height: auto;" />
        </div>

        <div class="mb-3">
            <label for="exampleCinemaAddress" class="form-label">Cinema Address</label>
            <input type="text" class="form-control" id="exampleCinemaDescription" name="Address" value="@Model.Address">
            <span asp-validation-for="@Model.Address"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    function previewImage(event) {
        const reader = new FileReader();
        const imagePreview = document.getElementById('imagePreview');

        reader.onload = function () {
            imagePreview.src = reader.result;
            imagePreview.style.display = 'block'; // Show the image preview
        }

        if (event.target.files[0]) {
            reader.readAsDataURL(event.target.files[0]);
        } else {
            imagePreview.style.display = 'none'; // Hide the preview if no file is selected
        }
    }
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

